<div class="divBtn mt-5">
    <div class="card">
        <h5 class="card-header font-weight-bold text-white" style="background-color: #00AA9E;">Nenhum item cadastrado</h5>
        <div class="card-body">
            <h5 class="card-title">Não foram encontrado dados para serem exibidos, que tal cadastrar alguns?</h5>
            <form class="ml-4 mt-3" asp-action="Index">
                <a class="btn btn-success" asp-action="Create">Cadastrar</a>
            </form>
        </div>

    </div>
</div>