@model OsirisPdvReal.Models.Compras

@{
    ViewData["Title"] = "Edit";
}

<div class="modal" id="visao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir essa compra?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success botaoDoId" style="font-size:10px;">Sim</button>
                <button type="button" class="btn btn-danger" style="font-size:10px;" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>


<div class="divBtn">
    <h4>Editar compra</h4>
</div>
<hr />
@if (TempData["msgSucesso"] != null)
{
    <div class="alert alert-danger alert-dismissable mt-2" style="margin-left:10%;margin-right:10%">
        <strong>@TempData["msgSucesso"]</strong>
    </div>
}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 borderPurple">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComprasId" />
            <div class="form-group">
                <label asp-for="NomeItemCompra" class="control-label font-weight-bold"></label>
                <input asp-for="NomeItemCompra" class="form-control borderInput" />
                <span asp-validation-for="NomeItemCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeCompra" class="control-label font-weight-bold"></label>
                <input asp-for="QuantidadeCompra" class="form-control borderInput" />
                <span asp-validation-for="QuantidadeCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCompra" class="control-label font-weight-bold"></label>
                <input asp-for="DataCompra" class="form-control borderInput" />
                <span asp-validation-for="DataCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCompra" class="control-label font-weight-bold"></label>
                <input asp-for="ValorCompra" id="inp1" class="form-control borderInput" />
                <span asp-validation-for="ValorCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label font-weight-bold"></label>
                <select asp-for="StatusId" class="form-control borderInput" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label font-weight-bold"></label>
                <select asp-for="CNPJ" class="form-control borderInput" asp-items="ViewBag.CNPJ"></select>
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="divBtn flex-row mt-2 mb-2">

                <input type="submit" value="salvar" class="btn btn-success btnNewCreate" />


                <a class="btn btn-info btnNewCreate ml-2 mr-2" asp-action="Index">Voltar</a>
                <a class="btn btn-danger btnNewCreate text-white" data-toggle="modal" data-target="#visao" onclick="PassarDados()">Excluir</a>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var currencyMask = IMask(
            document.getElementById('inp1'),
            {
                mask: '$num',
                blocks: {
                    num: {
                        // nested masks are available!
                        mask: Number,
                        thousandsSeparator: ','
                    }
                }
        });

        function PassarDados() {
            var idJornaleiro = document.getElementById("valueId").value
            console.log(idJornaleiro)
            $(".botaoDoId").on('click', function () {
                $.ajax({
                    url: "/Compras/Delete",
                    method: "POST",
                    data: { id: idJornaleiro },
                    success: function (data) {
                        $.ajax({
                            url: "/Compras/Index",
                            type: "get",
                            success: function () {
                                window.location.href = '/Compras/Index'

                            }
                        });
                    }
                });
            });
        }
    </script>
}
