@model OsirisPdvReal.Models.Banca

@{
    ViewData["Title"] = "Create";
}

<div class="divBtn fontTitles">
    <h4>Adicionar Banca</h4>
</div>
<hr />
@if (TempData["msgSucesso"] != null)
{
    <div class="alert alert-danger alert-dismissable mt-2" style="margin-left:10%;margin-right:10%">
        <strong>@TempData["msgSucesso"]</strong>
    </div>
}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4  borderPurple">
        <form asp-action="Create" class="mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label font-weight-bold" asp-for="NomeBanca"></label>
                <input asp-for="NomeBanca" class="form-control borderInput" />
                <span asp-validation-for="NomeBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">CEP</label>
                <input asp-for="CEPbanca" class="form-control borderInput" id="inp1" />
                <span asp-validation-for="CEPbanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Jornaleiro</label>
                <select asp-for="CPF" class="form-control borderInput" asp-items="ViewBag.CPF"></select>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">Bairro</label>
                <select asp-for="Bairro" class="form-control borderInput">
                    @foreach (var y in ViewBag.bairros)
                    {
                        <option value="@y">@y</option>
                    }
                </select>
            </div>
            <div class="divBtn flex-row mt-2 mb-2">

                <input type="submit" value="Adicionar" class="btn mr-3 btn-success btnNewCreate" />


                <a class="btn btn-info btnNewCreate ml-3" asp-action="Index">Voltar</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var currencyMask2 = IMask(
        document.getElementById('inp1'),
        {
            mask: '00000-000',

        });
</script>
}
