@model OsirisPdvReal.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
}

<div class="modal" id="visao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir esse fornecedor?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success botaoDoId" style="font-size:10px;">Sim</button>
                <button type="button" class="btn btn-danger" style="font-size:10px;" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<div class="divBtn fontTitles">
    <h4>Editar Fornecedor</h4>
</div>
<hr />
@if (TempData["msgSucesso"] != null)
{
    <div class="alert alert-danger alert-dismissable mt-2" style="margin-left:10%;margin-right:10%">
        <strong>@TempData["msgSucesso"]</strong>
    </div>
}
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6  borderPurple">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="valueId" asp-for="CNPJ" />
            <div class="form-group">
                <label asp-for="NomeFornecedor" class="font-weight-bold"></label>
                <input asp-for="NomeFornecedor" class="centerText borderInput form-control" />
                <span asp-validation-for="NomeFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailFornecedor" class="font-weight-bold"></label>
                <input asp-for="EmailFornecedor" class="centerText borderInput form-control" />
                <span asp-validation-for="EmailFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneFornecedor" class="font-weight-bold"></label>
                <input asp-for="TelefoneFornecedor" id="inp3" class="centerText borderInput form-control" />
                <span asp-validation-for="TelefoneFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PontoFocalFornecedor" class="font-weight-bold"></label>
                <input asp-for="PontoFocalFornecedor" class="centerText borderInput form-control" />
                <span asp-validation-for="PontoFocalFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogradouroFornecedor" class="font-weight-bold"></label>
                <input asp-for="LogradouroFornecedor" class=" centerText borderInput form-control" />
                <span asp-validation-for="LogradouroFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoFornecedor" class="font-weight-bold"></label>
                <select asp-for="EstadoFornecedor" class=" centerText borderInput form-control">
                    @foreach (var y in ViewBag.estados)
                    {
                        <option value="@y">@y</option>
                    }
                </select>
                <span asp-validation-for="EstadoFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEPFornecedor" class="font-weight-bold"></label>
                <input asp-for="CEPFornecedor" id="inp6" class="centerText borderInput form-control" />
                <span asp-validation-for="CEPFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="font-weight-bold"></label>
                <select asp-for="StatusId" class="centerText borderInput form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="divBtn flex-row mt-2 mb-2">

                <input type="submit" value="salvar" class="btn btn-success btnSizeFontUpper" />


                <a class="btn btn-info btnSizeFontUpper" asp-action="Index">Voltar</a>
                <a class="btn btn-danger btnSizeFontUpper text-white" data-toggle="modal" data-target="#visao" onclick="PassarDados()">Excluir</a>

            </div>
        </form>
    </div>
    <div class="col-md-3">

    </div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


        <script>
            var currencyMask = IMask(
                document.getElementById('inp3'),
                {
                    mask: '(00)00000-0000',

                });

            var currencyMask2 = IMask(
                document.getElementById('inp6'),
                {
                    mask: '00000-000',

                });
            function PassarDados() {
                var idJornaleiro = document.getElementById("valueId").value
                console.log(idJornaleiro)
                $(".botaoDoId").on('click', function () {
                    $.ajax({
                        url: "/Fornecedores/Delete",
                        method: "POST",
                        data: { id: idJornaleiro },
                        success: function (data) {
                            $.ajax({
                                url: "/Fornecedores/Index",
                                type: "get",
                                success: function () {
                                    window.location.href = '/Fornecedores/Index'

                                }
                            });
                        }
                    });
                });
            }
        </script>
    }

