@model OsirisPdvReal.Models.Jornaleiro

@{
    Layout = "LayoutLogin";
}

<head>
    <title>Osiris PDV</title>
</head>
<body class="bodyLogin">

    <div class="modal" id="visao" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="textModal"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="font-size:10px;" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <img src="@Url.Content("~/images/logo.png")" class="imageStyle" />
        </div>
        <div class="justify-content-center align-content-center centerLogin h-75">
            @if (TempData["msgSucesso"] != null)
            {
                <div class="alert alert-danger alert-dismissable mt-5" style="margin-left:10%;margin-right:10%">
                    <strong>@TempData["msgSucesso"]</strong>
                </div>
            }
            <div>
                <form style="height:250px;" asp-action="EnviarTokenSenha">
                    <div class="marginUpper">
                        <label style="margin-left:13%" class="font-weight-bold">E-mail cadastrado</label>
                        <br>
                        <input type="email" asp-for="EmailJornaleiro" class="form-control w-75 centerText borderInput" placeholder="example@example.com" />
                    </div>


                    <div class="divBtn mt-4 mb-4">
                        <input type="submit" class="btn-success btn btnSize" value="ENVIAR CÓDIGO" />
                        <a class="btn btn-info btnSize text-white" asp-controller="Jornaleiros" asp-action="Login">VOLTAR</a>
                    </div>
                </form>
            </div>
        </div>

    </div>


</body>

<script>
    function MensagemModal(tipo,mensagem){
        document.getElementById('textModal').innerHTML = mensagem;
        document.getElementById('titleModal').innerHTML = tipo;
    }
</script>